/*************FOOTER***********************/

footer{
    // max-height: 130px;
    height: 130px;
    width: 100%;
    text-align: center;
}

.footer_text h6 {
    color:#FFDF00;
	font-size: 2.25em;
    text-shadow: 0 0 3px #001604;

}

.footer_text a {
	margin-top: 0.625em;
    color: white;
	font-size: 1.875em;
	line-height: 1.5625em;
	letter-spacing: 0.7px;
    text-shadow: 0 0 3px #001604
}

.footer_text a:hover{
    color:#FFDF00;
    text-shadow: 0 0 3px #de297d
}

// .social_media {
//     // margin-top: 0.625em;
//     // margin-bottom: 0.625em;
// }
.social_media a{
    margin-left: 10px;
    
}

.social_media img{
    transition: all .2s ease-in-out;
}

.social_media img:hover{
    transform: scale(1.2);
}

.social_media img {
	// max-width: 30px;
	// max-height: 30px;
    width: 37px;
    height: 37px;
}
