/*************HEADER***********************/
header {
    height: 100px;
    display: flex;
    align-items: center;
    /*min-width: 950px;/***************************************/
    
    // background: rgb(232,217,20);
    // background: linear-gradient(212deg, rgb(218, 212, 217) 0%, rgba(242,242,235,1) 27%, rgba(242,241,237,1) 69%, rgba(210,210,210,1) 100%);
    
}

.header_text{
    margin: auto;
    color:#FFDF00;
	// font-size: 2.25em;
    font-size: 46px;
    text-shadow: 0 0 3px #001604;
    margin-left: 180px;
}

// .sound-control{
//     width: 40px;
//     margin-right: 35px;
//     margin-top: 30px;
// }

// .sound-control:hover{
//     cursor: pointer;
//     opacity: 0.9;
//     scale: 1.1;
// }