/*************MAIN***********************/
main{
    margin: 2.5em 0.625em 2.5em 0.625em;
    display: flex;
    flex-wrap: wrap;/**/
    flex: 1; 
}



/*************MENU***********************/

.menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.menu li{
    // margin-bottom: 0.625em;
    margin: 15px;
}

.menu li:hover{
    opacity: 0.6;
}

/*************CONTENT***********************/
main{
    display: flex;
    flex-direction: column;
    position: relative;
}
main .content{
    margin-left: 1.875em;
}



/*************STYLING BUTTONS***********************/
main .controls{
    position: absolute;
}

main #control_keys{
    display: none;
    position: absolute;
    width: 127px;
    height: 115px;
    top: 175px;
    left: 499px;
}

main #control_keys_space{
    display: none;
    position: absolute;
    width: 100px;
    height: 50px;
    top: 300px;
    left: 511px;
}

.myButton {
    min-width: 122px;/**/
    min-height: 70px;
    text-align: center;
    box-shadow: inset 0 0 0.875em 0.0625em #ffffff;
	// background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color: #ededed;
	border-radius: 0.375em;
	border: 0.0625em solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color: #000000;
	// font-size: 0.9375em;
    font-size: 17px;
    letter-spacing: 6px;
	padding: 0.375em 1.5em;
	text-decoration: none;
	text-shadow: 0 0.0625em 0 #ffffff;
    background-color: #6f029793;
    color: #FFDF00;
    color: #ffffff;
    border: none;
    text-shadow: 0 0 3px #001604;

}

.myButton:hover{
    background: #58017793;
    color: #FFDF00;
}

//stopwatch
#time{
    display: none;
    letter-spacing: 1px;
    position: absolute;
    top: 88px;
    left: 6px;
    cursor: progress;
    height: 50px;
    font-size: 18px;
    padding: 14px;
}

.hide-controls {
    display: none;
}

#pause_game{
    display: none;
    position: absolute;
    letter-spacing: 1px;
    top: 300px;
    left: 6px;
    height: 50px;
 
    font-size: 18px;
    padding: 14px;
    
}

#pause_game:hover{
    animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
}



#play_game{
    width: 126px;
    height: 91px;
    position: absolute;
    top: 185px;
    left: 249px;
    color: white;
    border: none;
    letter-spacing: 7px;
    font-size: 21px;
    font-weight: 300;
    
}

// adding shaking effects with key frames
#play_game:hover{
    color: #FFDF00;
    // transform: translateY(1px);
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
}




.game-counters{
    display: none;
    flex-direction: column;
    position: absolute;
    

    // background: white;
    // width: 200px;
    // height: 200px;
}

#round-counter{
    margin-top: 10px;
    color: #FFDF00;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 5px;

    cursor: default;
}

#life-counter{
    margin-top: 10px;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 499px;
    cursor: default;
}

#rage-level{
    margin-top: 10px;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 77px;
    left: 499px;
    
    cursor: default;
}

.rage-level-shake{
    animation: shake 1s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
    box-shadow: 0 0 50px rgb(225, 18, 18)
}
#cars-passed{
    margin-top: 10px;
    width: 50px;
    height: 50px;
    position: absolute;
    top:157px;
    left: 6px;
    cursor: default;
}


.info-screen-div{
    display: none;
    width: 304px;
    height: 190px;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0 50px rgb(225, 18, 18);
    // box-shadow: 0 1px rgba(0, 0, 0, 0.25);
    // border: 1px solid rgba(255,255,255,0.3);
    position: absolute;
    top: 140px;
    left: 162px;
}

.info-screen-div p {
    text-align: center;
    font-size: 25px;
    color: white;
    margin-top:74px
}



@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    
    30%, 50%, 70% {
      transform: translate3d(-2px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(2px, 0, 0);
  }
}